.App {
  text-align: center;
}

.Wrap {
    position: relative;
}

.App-header {
  background-color: grey;
  height: 300px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
