nav {
    display: inline;
    float: left;
}
nav div {
    display: inline;
    margin-right: 8px;
    font-weight: bold;
    padding-bottom: 5px;
}

nav div:hover {
    border-bottom: 3px solid #3300FF;
}
